/* Stili generali */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  /* Impedisce lo scroll fuori dall'app */
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.home-page {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 390px;
  /* Imposta una larghezza massima */
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* Evita lo scroll all'esterno */
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: #EC404F;
  /*   border-bottom: 1px solid #333; */
  border-radius: 15px 15px 0 0;
  /* overflow: hidden; */
  /* Impedisce lo scroll fuori dall'app */
  align-items: center;
  /* Allinea gli elementi verticalmente */
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 10px;
  overflow: hidden;
}

.search-bar {
  top: 80px;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  /* Impedisce lo scroll fuori dall'app */
}

.search-bar input {
  width: 90%;
  padding: 10px;
  border-radius: 13px;
  border: none;
  background-color: #222;
  color: #ffffff;
  font-size: 14px;
  overflow: hidden;
  /* Impedisce lo scroll fuori dall'app */
}

.canc {
  position: absolute;
  background: none;
  border: none;
  color: #ec404f;
  font-weight: bold;
  right: 15px;
  top: 25px;
}


.foto {
  width: 50px;
  height: 50px;
  background-color: #EC404E;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  border-radius: 10px;
  position: relative;
  overflow: hidden; /* Nasconde l'immagine che esce dal quadrato */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  background-size: cover; /* Adatta l'immagine come sfondo */
  background-position: center; /* Centra l'immagine */
  border: none; /* Rimuove il bordo */
}

::-webkit-file-upload-button{
  display: none;
}
/*
.foto::before {
  font-size: 200px;
  color: white;
}

.foto#file-input{
  font-size: 0px;
}*/

/* 
.foto::before,
.foto::after {
  content: '';
  position: absolute;
  background-color: white;
}

.foto::before {
  width: 50%;
  height: 9%;
  border-radius: 5px;
}

.foto::after {
  height: 50%;
  width: 9%;
  border-radius: 5px;
} */

.opt {
  position: absolute;
  font-size: 20px;
  right: 0px;
  background: transparent;
  border: none;
  color: white;
  height: 70px;
  width: 70px;
}

.opt2 {
  position: absolute;
  font-size: 20px;
  right: 85px;
  background: transparent;
  border: none;
  color: white;
  height: 70px;
  width: 70px;
}

.artist-name {
  font-size: 14px;
  color: gray;
  /* Imposta il colore in grigio per l'artista */
}

.chat-list {
  top: 100px;
  flex: 1;
  overflow-y: auto;
  /* Rende scrollabile solo la lista di chat */
  padding: 10px 0;
  padding-top: 40px;
  scrollbar-width: none;
  position: fixed;
  height: 555px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}



.span {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}


.add-button {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: #ec404f;
  border: none;
  color: white;
  font-size: 24px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: border-radius 0s ease, width 0s ease;
  /* Transizioni per l'effetto */
}

/* Chat Page Styles */
.chat-page {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 387px;
  /* Imposta una larghezza massima */
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* Evita lo scroll all'esterno */
  position: relative;
  /* Assicurati che la home page sia sopra */
}

.chat-header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.chat-title {
  color: #EC404F;
  padding-right: 15px;
}

.chat-menu {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding-right: 25px;
}

.note-container {
  top: 85px;
  overflow-y: auto;
  height: 590px;
  scrollbar-width: none;
  position: fixed;
/*   background-color: blue; */
}


.note-block {
  margin: 10px 45px;
  padding: 10px;
  border-radius: 5px;
  background-color: #EC404E;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
  color: white;
}

.note-text {
  font-size: 14px;
  margin: 0;
  color: white;
  white-space: pre-wrap;
}

/* Stile per il pulsante di trascinamento */
.drag-handle {
  margin-left: -54px;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 60px;
  display: grid;
  place-items: center;
}

.contai {
  /*   border-radius: 15%;
  width: 20px;
  height: 7px;*/
  font-size: 20px;
  color: white;
}

/* Stile per il pulsante di rec */
/* .contai2 {
  right: 0px;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-right: 9px;
  background-color: blue;
} */

.rec {
/*   border: 4px solid white;
  border-radius: 50%; */
  width: 10px;
  height: 10px;
/*   transition: all 0.3s ease;
  text-transform: uppercase;
  color: transparent; */
  position: absolute;
  right: 0px;
  margin: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.rec:before {
  content: "\f192"; /* Codice Unicode per l'icona del cerchio */
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  color: white;
  position: absolute;
  padding: 15px;
  right: -15px;
  top: -15px;
}

.triangle:before {
  content: "\f04b"; /* Codice Unicode per l'icona del cerchio */
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  color: white;
  position: absolute;
  right: -15px;
  top: -15px;
}

.square:before {
  content: "\f0c8"; /* Codice Unicode per l'icona del cerchio */
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  color: white;
  position: absolute;
  right: -15px;
  top: -15px;
}

/* Animazione di lampeggio per il cerchio */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* Aggiungi la classe di lampeggio durante la registrazione */
.rec.lampeggia {
  animation: blink 1s infinite;
}




/* Posizionamento della X nell'intestazione */
.note-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  top: -12px;
  right: -20px;
}





/* -------------------- MENU HOME PAGE -------------------------------------------------------------------------------- */


/* Stili per la pagina destra (menu) */
.right-page {
  position: fixed;
  bottom: -50%;
  width: 100%;
  height: 117%;
  background-color: #141414;
  /* Colore di sfondo del menu */
  color: white;
  /* Colore del testo all'interno del menu */
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  /* Inizialmente nascosta */
  transition: transform 0.5s ease-in-out;
  display: none;
  /* Rende la pagina del menu invisibile all'inizio */
  pointer-events: auto;
  /* Permette l'interazione con il menu */
  border-radius: 25px;
  z-index: 2;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  position: relative;
  top: 8px;
}

.close {
  background: none;
  border: none;
  color: white;
  position: relative;
  top: 2px;
  font-size: 25px;
}

#right-page-content {
  text-align: -webkit-center;
}

.home-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.menu-overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.menu-content .close-menu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
 
.menu-content .menu-items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-size: 16px;
  padding: 20px;
}

.menu-icon {
  right: 35px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 3px;
  z-index: 1000;
}

/* Nascondi l'icona del menu quando il menu è aperto */
.menu-icon.hidden {
  display: none;
  z-index: 100;
}

/* Overlay per rendere la home page meno visibile quando il menu è aperto */
.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Sfondo semi-trasparente */
  z-index: 1;
  /* Deve essere sotto il menu */
  display: none;
  transition: transform 1s ease;
}

/* Aggiungi opacità alla home page */
.home-page.blur {
  opacity: 1;
  /* Riduce l'opacità della Home Page */
  pointer-events: none;
  /* Impedisce interazioni con la home page mentre il menu è aperto */
  transition: transform 1s ease;
}

.dragging {
  opacity: 0.5;
  /*
  pointer-events: none;
  transition: none; */
}

.contact.dragging {
  opacity: 0.5;
  /*
  background-color: #f0f0f0;
  cursor: move; */
}

.calendar,
.backup-button,
.restore-button,
.delete-all-button,
.parole {
  font-size: 17px;
  margin: 0;
  color: #ffffff;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: -5px;
  font-weight: bold;
  /* Imposta il testo in grassetto */
}

.color {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 25px;
}

.buttoncolor1 {
  height: 21px;
  width: 20px;
  border-radius: 50%;
  background-color: #007BFE;
  border: none;
}

.buttoncolor2 {
  height: 21px;
  width: 20px;
  border-radius: 50%;
  background-color: #00ff9e;
  border: none;
}

.buttoncolor3 {
  height: 21px;
  width: 20px;
  border-radius: 50%;
  background-color: #EC404E;
  border: none;
}




.media-player {
  position: fixed;
  /* Posizione fissa */
  bottom: 40px;
  /* Imposta la distanza dal basso */
  left: 20px;
  /* Imposta la distanza dalla sinistra */
  width: 345px;
  height: 70px;
  background-color: #EC404F;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
  /* Impedisce che venga coperto da altri elementi */
  /*  transition: border-radius 0.2s ease, width 0.1s ease; */
  transition: left 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
  /* Transizioni per l'effetto */
}

/* Modifica il margine da "bottom" come segue */


.beat-selection {
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.beat-info {
  flex-grow: 1;
  margin-left: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

.beat-title {
  font-size: 14px;
  margin: 0;
  width: 140px;
  /* Imposta una larghezza massima */
  overflow: hidden;
  /* Nasconde il testo in eccesso */
  white-space: nowrap;
  /* Impedisce il testo di andare a capo */
  text-overflow: ellipsis;
  /* Aggiunge i puntini di sospensione quando il testo è troncato */
}


.beat-time {
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
}

.controls {
  display: flex;
  /* gap: 5px; */
}

.control-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 15px;
}

.progress-bar-container {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2.5px;
  /* overflow: hidden; */
  display: none;
  /* Nasconde la barra finché non si seleziona un beat */
  cursor: pointer;
}

.progress-bar {
  height: 100%;
  background-color: white;
  width: 0;
  transition: width 0.1s;
  cursor: pointer;
}


/* -------------------- MENU CHAT PAGE -------------------------------------------------------------------------------- */

.settings-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  /* overflow: hidden; */
  /* position:; */
}

.setting-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
  position: fixed;

}

h2 {
  color: #ec404f;
}

.spazio {
  opacity: 0;
}

.settings-content {
  height: 700px;
}

.white-square {
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 100px;
  left: 45px;
 
}

.buttons-container1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 30px;
  position: fixed;
  top: 450px;
  left: 65px;
}


.settings-button {
  background-color: #ec404f;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.check {
  margin-top: 40px;
  position: relative;
  top: -60px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox span {
  background-color: #333;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 55px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.custom-checkbox input:checked+span {
  background-color: #ec404f;
  color: white;
}

/* #chat-square {
  width: 200px; 
  aspect-ratio: 1 / 1; 
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-size: cover;
  background-position: center; 
  overflow: hidden; 
} */

.menuSotto {
  position: fixed;
  bottom: -71%; /* Nasconde il menu inizialmente */
  left: 0;
  width: 100%;
  height: 70%;
  background: #141414;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.menuSotto-content {
  text-align: center;
}

.menuSotto.show {
  bottom: -20px; /* Fa comparire il menu */
  border-radius: 25px;
  z-index: 10;
}

.menuSotto-overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 10;
}

.songTitle{
  color: #EC404E;
  position: absolute;
  top: 250px;
  left: 15px;
  z-index: 100;
}

.foto2{
  width: 388px;
  height: 250px;
  background-color: white;
  top: -82px;
  position: relative;
  border-radius: 25px;
  z-index: 10;
  overflow: hidden; /* Nasconde l'immagine che esce dal quadrato */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  background-size: cover; /* Adatta l'immagine come sfondo */
  background-position: center; /* Centra l'immagine */
  border: none;
  opacity: 0.2;
}
.cont{
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 120px;
}

.bottoniSotto{
  color: white;
  background: transparent;
  border: none;
  font-size: 20px;
}